@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* universal design */
body{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* navigation design */
.nav-container{
    border: 2px solid blue;
    min-height: 100px;
}
.nav-logo-container{
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-logo-container img{
    width: 100px;
    object-fit: cover;
}
.nav-logo-container{
    font-size: 30px;
}
.logo-name{
    color: blueviolet;
}